input[type=text]{border: 1px solid #ccc; transition: 0.3s; width: 100%; border-radius: 10px; padding: 5px 3px;}
input[type=text]:focus{border: 1px solid black; border-radius: 10px; padding: 5px 3px; outline: none;}
input[type="submit"]{background-color: white;  color: black; border: none; font-family: Verdana, Helvetica, sans-serif; font-size:15px; padding: 6px 8px; font-weight: bold; transition: 0.3s; border: 1px solid black;}
input[type="submit"]:hover{background-color: #ABDCB6; color: white; cursor: pointer;}

.codice{whidth: 70%; border:none; border-bottom:2px; margin-top: 20px;}
.title{font-family: Verdana, Helvetica, sans-serif; font-size: 12px; margin-top: 40px;}
.contenitore{display: flex; flex-direction: column; align-items: center; width:40%; margin-bottom: 4%; margin-top: 4%; margin-left: 5%; background-color: #ABDCB6;}
.superContenitore{width:100%; display: flex; flex-direction: column; align-items: center;}
.ask{width: 20px; height: 20px; border-radius: 50%; margin-left: 5px; margin-right: 5px; margin-bottom:-4px;}
.button{display: flex; flex-direction: column; align-items: center; margin-top: 80px; margin-bottom: 20px;}