input[type=text], input[type = password], input[type = number]{border: 1px solid #ccc; transition: 0.3s; width: 30%; border-radius: 10px; padding: 5px 3px;}
input[type=text]:focus, input[type= password]:focus, input[type = email]:focus{border: 1px solid black; border-radius: 10px; padding: 5px 3px; outline: none;}
input[type="submit"]{background-color: white;  color: black; border: none; font-family: Verdana, Helvetica, sans-serif; font-size:15px; padding: 6px 8px; font-weight: bold; transition: 0.3s; border: 1px solid black;}
input[type="submit"]:hover{background-color: #ABDCB6; color: white; cursor: pointer;}
.pulsanteBloccato{background-color: #408080;}
.pulsanteBloccato:hoover{cursor: none;}

.bonificoDiv{margin-top: 2%; background-color: #ABDCB6; width:98%; padding-top:2%; padding-bottom:2%; padding-left:2%;}
.bonifico-form{width:100%; margin: 0px auto; margin-bottom: 10px;}
.cartalogo_img{width:50px; height:30px; margin-top:2%; margin-left:6%;}

.paypalDiv{margin-top: 2%; width:98%; padding-left:2%;margin-bottom:4%}
.paypal-form{width:100%; margin: 0px auto; margin-bottom: 10px;}
.paypal{max-width:100px; max-height:40px; margin-left:2%; border-radius: 15px; }

.creditoDiv{display: flex; flex-direction: column; align-items: center; margin-top: 2%; margin-bottom:2%; width:100%;}
.creditoName{font-family: Verdana, Helvetica, sans-serif; font-weight: bold; font-size: 25px;}
.creditoImport{font-family: Verdana, Helvetica, sans-serif; font-weight: bold; font-size: 40px;}
.creditoInfo{font-family: Verdana, Helvetica, sans-serif; text-align: center; font-size: 15px;}
.creditoText{color:#FF0000; font-family: Verdana, Helvetica, sans-serif; margin: 10px; padding: 0px;}
