form{display: inline-block; margin: 2%}
.fotoENome{background-color: #ABDCB6; width: 100%; height: 200px; display: flex; align-items: center; flex-direction: column; border-bottom: 2px solid black;}
.fotoProfiloUtente{width: 120px; height: 120px; border-radius: 50%; margin-top: 15px;border: 2px solid black}


.informazioniTesto{margin-left: 5%;}
.informationFormContenitore{display: flex; width:50%; align-items: left; margin-left: 5%;}
.information-form{width:100%; margin: 0px auto; margin-bottom: 10px;}
input[type=text], input[type = password], input[type = email]{border: 1px solid #ccc; transition: 0.3s; width: 60%; border-radius: 10px; padding: 5px 3px;}
input[type=text]:focus, input[type= password]:focus, input[type = email]:focus{border: 1px solid black; border-radius: 10px; padding: 5px 3px; outline: none;}
input[type="submit"]{background-color: white;  color: black; border: none; font-family: Verdana, Helvetica, sans-serif; font-size:15px; padding: 6px 8px; font-weight: bold; transition: 0.3s; border: 1px solid black;}
input[type="submit"]:hover{background-color: #ABDCB6; color: white; cursor: pointer;}


.obiettivi{background-color: #ABDCB6; width: 100%; height: 100%; display: flex; flex-direction: column; outline: 2px solid black;}
.obiettiviTesto{margin-left: 5%;}
.obiettiviContenitore{display: flex; width:100%; align-items: center; flex-direction: column;}
.immaginiObiettiviContenitore{}
.obiettivo{width: 70px; height: 70px; border-radius: 50%; margin-left: 5px; margin-right: 5px; box-shadow: 5px 5px 5px black; -moz-box-shadow: 5px 5px 5px black; -webkit-box-shadow: 5px 5px 5px black; -khtml-box-shadow: 5px 5px 5px black;}


.attivita{width: 100%; height: 100%; display: flex; flex-direction: column;}

.attivitaTesto{margin-left: 5%;}

.insiemePost{display: flex; width:100%; flex-direction: column; align-items: center;}

.post{display: flex; width:400px; flex-direction: column; outline: 1px solid black; margin-bottom: 20px;}
.creatorePost{display: flex; width: 96%; max-height: 40px; align-items: center; flex-direction: row; padding-left: 2%; padding-right: 2%; background-color: white; border-bottom: 1px solid black;}
.postFotoUtente{width: 34px; height: 34px; border-radius: 50%; margin-right: 10px; border: 2px solid #ABDCB6;}
.postNomeUtente{color:black;}
.pulsanteCondivisione{width: 30px; height: 30px; float: right; margin-left: auto; padding-left: 10px;}

.contenutoPost{width: 100%; display: flex; flex-direction: column; background-color: #ABDCB6; align-items: center; padding-bottom: 10px;}
.postTesto{text-align: center;}
.postImmagine{width: 90px; height: 90px; border-radius: 50%; box-shadow: 5px 5px 5px black; -moz-box-shadow: 5px 5px 5px black; -webkit-box-shadow: 5px 5px 5px black; -khtml-box-shadow: 5px 5px 5px black;}
.interazioneContainer{display: flex; width:90%; height: 100px; flex-direction: row; align-items: flex-end; padding-left: 5%; padding-right: 5%;}
.pulsantiContenitore{display: flex; width:100%; flex-direction: row;}
.miPiaceContenitore{display: flex; flex-direction: column; margin-bottom: 4px; margin-right: 10px;}
.numeroMiPiaceContenitore{display: flex; flex-direction: row; align-items: center; max-height: 30px; max-width:40px; border-radius: 20% 20% 0% 0%; background-color: white; margin-bottom: -5px; margin-left: 2px; padding-left: 10px; border: 1px solid black;}
.numeroMiPiace{}
.cuore{width: 20px; height: 20px;}
.miPiace{}
.commenti{margin-top: 29px;}
.data{}