.ricercaEScrittaContenitore{display: flex; width:100%; flex-direction: column; align-items: center;}
.ricercaTesto{font-size: 1.2em; font-weight:bold; text-align: center;}

.nessunRisultato{display: flex; width: 100%; height:300px; flex-direction: row; align-items: center; color: grey; margin-bottom: 20px; justify-content: center;}

.ricercaContenitore{display: flex; width:100%; flex-direction: column; align-items: center; outline: 2px solid black;}
.utente{display: flex; width: 100%; flex-direction: row; align-items: center;}
.utenteFoto{width: 80px; height: 80px; border-radius: 50%; box-shadow: 5px 5px 5px #ccc; -moz-box-shadow: 5px 5px 5px #ccc; -webkit-box-shadow: 5px 5px 5px #ccc; -khtml-box-shadow: 5px 5px 5px #ccc;}
.pulsanteUtente{background-color: white; display: flex; width: 100%; flex-direction: row; align-items: center; outline: 1px solid black; padding-left: 2%; padding-right: 2%; cursor: pointer;}
.pulsanteUtente:hover{background-color: #ABDCB6; cursor: pointer;}

.scritteContenitore{display: flex; flex-direction: column; font-size: 1.2em; text-align: left; margin-left: 20px; height: 100px; justify-content: center;}
.nomeUtente{font-weight:bold; margin: 0px; padding: 0px;}
.citta{margin: 0px; padding: 0px;}
